player-connection-mode=Listen
player-connection-guid=1792489703
player-connection-debug=0
player-connection-project-name=Module1_GAMENET_Moratalla
player-connection-ip=192.168.1.26
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5189ee2b57a0403ca3615e77b33c0cb5
